mat-card {
	width: 28%;
	float:left;
	margin:10px	0px 10px 10px;
}

mat-card-content {
	width: 100%;
}

textarea {
	width: 100%;
}

button {
	margin: 5px;
}

.label {
	color: #333;
}

.title {
	padding: 10px;
	border-bottom: 2px solid #0f8794;
	text-align:center; 
	margin-bottom: 20px;
	font-size:15px;
}