<mat-card>
	<div class="container-header">
		<h3 class="col-md-4">Issues List</h3>
		<button mat-raised-button 
			class="col-md-2"
			(click)="openDialog()">
			Add Issue
		</button>
		<mat-form-field class="col-md-5" (keyup)="search($event.target.value)">
			<mat-label><i class="fas fa-search"></i>&nbsp;Search</mat-label>
			<input matInput >
		</mat-form-field>
	</div>

	<mat-card-content>

		<div class="mat-elevation-z8">
			<table mat-table matSort [dataSource]="dataSource">
				
				<ng-container matColumnDef="Issue_Id">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
				    <td mat-cell *matCellDef="let element"> {{element.Issue_Id}} </td>
				</ng-container>

				<ng-container matColumnDef="Issue">
				    <th mat-header-cell *matHeaderCellDef mat-sort-header> Issue </th>
				    <td mat-cell *matCellDef="let element"> {{element.Issue}} </td>
				</ng-container>

				<ng-container matColumnDef="Description">
				    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
				    <td mat-cell *matCellDef="let element">
				    	{{ element.Description }}
				    </td>
				</ng-container>

				<ng-container matColumnDef="Name">
				    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
				    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
				</ng-container>

				<ng-container matColumnDef="Level">
				    <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
				    <td mat-cell *matCellDef="let element"> {{element.Level}} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"
					[routerLink]="[row.Issue_Id]"
					routerLinkActive="table-highlight"></tr>
			</table>
			<mat-paginator [pageSizeOptions]="[10, 15, 20, 25, 100]" showFirstLastButtons></mat-paginator>
		</div>

	</mat-card-content>	
</mat-card>