.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}

#boxes{
	margin-top:20px;
	text-align:center;	
}

#boxes .box{
	float:left;
	width:30%;
	padding:15px;
}

#boxes .box img{
	width:120px;
}

.margin-title-text p{
	text-align:center;
	font-size:25px;
	font-weight:700;
	margin:30px;
	text-transform:uppercase;
	margin-left:30px;
}