<section id="boxes">
	<div class="container">
		<h2 class="margin-title-text">The Team</h2>
		<div style="text-align:center; width:45%; padding:15px; display:block; margin-left:auto; margin-right:auto">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'female-prop.jpg'" style="border-radius:100%">
			<h3>Princess Nicole Nacianceno</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'male-prop.jpg'" style="border-radius:100%">
			<h3>Rainen Scheenler Manzano</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'kevsy.png'" style="border-radius:100%">
			<h3>Kevin Paul Lamadrid</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus on metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'franz-chibi.png'" style="border-radius:100%">
			<h3>Morris Franz Bongosia</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
	</div>
</section>