#chat-form{
	display:grid;
	align-content:center;
	align-items:center;
	grid-gap:15px;
	border-radius:0 0 10px 0;
	border-top:1px solid rgba(0,0,0,0.25);
	background: #eee;
}
#chat-form input{
	outline:none;
	padding:10px;
	border:2px solid #ddd;
	color:#330;
	border-radius:6px;
	font-size:1.4rem;
	margin: 4px;
}