<section id="main">
	<div class="container">
		<article id="main-col">
			<br>
			<h1 style="text-transform:uppercase;">Services</h1>

			<h2>What can Tessera do to help your business?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit. Aliquam non leo nisi. Etiam ut nulla arcu. Praesent id urna non turpis placerat rhoncus a sit amet risus. Duis vehicula, massa at rhoncus elementum, sapien felis elementum quam, sed auctor lacus velit eget lectus. Nulla fringilla sit amet lorem eget suscipit. Mauris faucibus sit amet magna viverra laoreet.</p>
			<br>
			<br>
			<h2>Why do you need help desk software?</h2>
			<p class="dark">
				Aliquam non leo nisi. Etiam ut nulla arcu. Praesent id urna non turpis placerat rhoncus a sit amet risus. Duis vehicula, massa at rhoncus elementum, sapien felis elementum quam, sed auctor lacus velit eget lectus. Nulla fringilla sit amet lorem eget suscipit. Mauris faucibus sit amet magna viverra laoreet.Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.Duis vehicula, massa at rhoncus elementum, sapien felis elementum quam, sed auctor lacus velit eget lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo.
			</p>
			<br>
		</article>
		<aside id="sidebar">
			<div class="dark">
				<h1>Reintroduce Discipline</h1>
				<p>In venenatis a purus ut suscipit. Mauris faucibus sit amet magna viverra laoreet. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit. Aliquam non leo nisi. Etiam ut nulla arcu. Praesent id urna non turpis placerat rhoncus a sit amet risus.
				</p>
				<h1>Resolve Issues Faster</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. 
				</p>
				<h1>Work Smarter</h1>
				<p>Nulla fringilla sit amet lorem eget suscipit. Mauris faucibus sit amet magna viverra laoreet.Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar.
				</p>
			</div>
		</aside>
	</div>
</section>