<section id="showcase" [ngStyle]="{background: 'url('+location+'showcase3.jpg)'}">
	<div class="container">
		<h1 class="text1">Welcome to Tessera</h1>
		<p class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo.</p>
	</div>
</section>

<div class="margin-title-text">
	<p>Features</p>
</div>

<section id="boxes">
	<div class="container">
		<div class="box">
			<img [src]="location + 'windows2.png'">
			<h3>Open Source</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'gear2.png'">
			<h3>Priority Support</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'flag2.png'">
			<h3>Company Branded</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'star2.png'">
			<h3>Self Service </h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'eye2.png'">
			<h3>Tutorial</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
		<div class="box">
			<img [src]="location + 'suitcase2.png'">
			<h3>Development</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor tellus non metus vestibulum commodo. Donec vestibulum lectus est, at congue augue faucibus vel. Integer finibus dapibus pulvinar. In venenatis a purus ut suscipit.</p>
		</div>
	</div>
</section>